<?xml version="1.0"?>
<configuration scan="true" scanPeriod="30 seconds">
	<property name="log.base" value="/logs" />
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%-5level] [%F-%M:%L] - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.base}/log.txt</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.base}/log_%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%-5level] [%F-%M:%L] - %msg%n</pattern>
		</encoder>
	</appender>
	<root level="info">
		<appender-ref ref="stdout" />
		<appender-ref ref="file" />
	</root>
	<logger name="org.mybatis" level="info" />
	<logger name="org.springframework" level="info" />
	<logger name="online.shixun.project.mapper" level="debug" />
</configuration>